<div class="select_group">
  <label for = "min">Min: </label>
  <select #min id="min">
    <option class="min" value="-1">No min</option>
    <option class="min" value="{{5*miToM}}">5 mi</option>
    <option class="min" value="{{10*miToM}}">10 mi</option>
    <option class="min" value="{{20*miToM}}">20 mi</option>
    <option class="min" value="{{50*miToM}}">50 mi</option>
    <option class="min" value="{{100*miToM}}">100 mi</option>
  </select>
  <span> to </span>
  <label for = "max">Max: </label>
  <select #max id="max">
    <option value="{{5*miToM}}">5 mi</option>
    <option value="{{10*miToM}}">10 mi</option>
    <option value="{{20*miToM}}">20 mi</option>
    <option value="{{50*miToM}}">50 mi</option>
    <option value="{{100*miToM}}">100 mi</option>
    <option value="-1">No max</option>
  </select>

  <button type="button" (click) = "filter(min.value, max.value)">Filter</button>
</div>

<div class="container-fluid mt-5">
  <div *ngIf="data" class="row">
    <div class="col-lg-8">
      <!-- <div class="form-group">
        <h4>Origin</h4>
        <input [(ngModel)]="origin" id="origin" class="form-control" placeholder="Morgantown, WV"/>
      </div>
      <div class="form-group">
        <h4>Destination</h4>
        <input [(ngModel)]="destination" id="destination" class="form-control" placeholder="Reston, VA"/>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button id = "search" class="btn btn-primary" (click)="getDirection()">Get Direction</button>
        </div>
      </div>
      <p id="total"></p> -->

      <h4>Driver's List</h4>
      <ng-table id = "table" [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event, template)"
        [rows]="rows" [columns]="columns">
      </ng-table>
      <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length"
        [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
        (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
      </pagination>
      <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
    </div>
    <div class="col-lg-4">
      <h4>Directions:</h4>
      <div #map id="gmap" class="img-responsive"></div>
    </div>
  </div>
</div>

<ng-template #template id="template" tabindex="-1">

  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenteredLabel">Contact Info:</h5>
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button> -->
  </div>
  <div class="modal-body">
    <h1>{{chosenCell.name}}</h1>
    <h3>Email: {{chosenCell.email}}</h3>
    <h3>Phone: {{chosenCell.phone}} </h3>
    <h3>Home: {{chosenCell.origin}} </h3>
  </div>

</ng-template>