<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- <div class="form-group">
        <h4>Origin</h4>
        <input [(ngModel)]="origin" id="origin" class="form-control" placeholder="Morgantown, WV"/>
      </div>
      <div class="form-group">
        <h4>Destination</h4>
        <input [(ngModel)]="destination" id="destination" class="form-control" placeholder="Reston, VA"/>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button id = "search" class="btn btn-primary" (click)="getDirection()">Get Direction</button>
        </div>
      </div>
      <p id="total"></p> -->
    <h4>Driver's List</h4>
      <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)"
        [rows]="rows" [columns]="columns">
      </ng-table>
       <pagination *ngIf= "config.paging" class= "pagination-sm" [(ngModel)]= "page" [totalItems]= "length"
        [itemsPerPage]= "itemsPerPage" [maxSize]= "maxSize" [boundaryLinks]= "true" [rotate]= "false"
        (pageChanged)= "onChangeTable(config, $event)" (numPages)= "numPages = $event">
      </pagination>
       <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
    </div>
    <div class="col-lg-4">
      <h4>Directions:</h4>
      <div #map id="gmap" class="img-responsive"></div>
    </div>
  </div>
</div>


